[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bipartiteD3"]
	path = bipartiteD3
	url = https://github.com/cran/bipartiteD3
[submodule "cassandRa"]
	path = cassandRa
	url = https://github.com/jcdterry/cassandra
